/* @font-face{
    font-family: Nickainley;
    src: url(Nickainley-Normal.otf)
}

@font-face{
    font-family: Geomanist;
    src: url(Geomanist-Regular&Italic/Webfont/Geomanist-Regular-Webfont/geomanist-regular-webfont.ttf)
} */

body{
    font-family: 'Quicksand', sans-serif;
    background-color: ligh;
    min-width: 800px;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
    position: relative;
    min-width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.headersection {
    position: relative;
    height: 60vh;
    min-width: 100%;
    max-width: 1200px;
    padding: 10px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #023802;
    background: palegreen;
    position: relative;
    background-image: url("producebg1.jpg");
    image-rendering: optimizeQuality;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 1px 10px 0 rgba(0,0,0,0.5);
}


h1 {
    position: absolute;
    padding: 10px;
    left: 70px;
    bottom: 40%;
    font-family: 'Quicksand', sans-serif;
    font-style: bold;
    font-size: 80px;
    color: white;
    max-width: 700px;
    min-width: 700px;
    /* letter-spacing: -1px; */
    background-color: hsl(120, 63%, 36%);
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    
}


h2 {
    position: absolute;
    padding: 10px 0px 00px 20px;
    left: 70px;
    bottom: 30px;
    color: white;
    font-size: 20px;
    max-width: 530px;
    min-width: 530px;
    background-color: #ca7a03;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.intro {
    padding-top: 30px;
    font-size: 20pt;
    font-style: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
    min-width: 60%;
    margin: 0 10% auto;
    /* width: 80%; */
    /* margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px;
    min-width: 700px; */
}

.bodytext {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin-top: -1px;
    font-size: 18pt;
    max-width: 80%;
    min-width: 60%;
    margin: 0 10% auto;
    /* width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1200px;
    min-width: 700px; */
}

.cta {
    font-size: 35px;
    font-style: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 80%;
    min-width: 60%;
    margin: 0 10% auto;
    position: relative;
    top: 10px;
}

.flex-grid {

    display: flex;
    align-items: center;
    margin: 0px 10% auto;
    position: relative;
    bottom: 2%;
    max-width: 80%;
    min-width: 60%;
    

}

.buttons {
    font-family: 'Quicksand', sans-serif;
    flex: 1;
    margin: 3% 2% 2% 2%;
    text-align: center;
    font-size: 20pt;
    padding: 1% 1% 1% 1%;
    border: 12px solid green;
    font-weight: bolder;
    background: palegreen;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 12px 20px 0 rgba(0,0,0,0.25);
}

/* .buttons:hover {
        background-color: #044e1a;
        color: white; 
    } */

a:link, a:visited {
    background-color: white;
    color: #043604;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #138d1d;
    color: white; 
}

#buttondel {
    border: 12px solid  hsl(36, 81%, 46%)
}

#buttondel:hover, #buttondel:active {
    background-color: goldenrod;
    color: white;
}

#buttondel {
    background: slategray
}

#buttoncons {
    background: lightblue
}


footer {
    /* margin-top: 50px; */
    padding: 5px 0px 1px 0px; /*THIS CAN BE SMOOTHER*/
    font-size: 9pt;
    background-color: hsl(91, 65%, 67%);
    text-align: center;
    color: #044e1a;
    border: 10px 1px 1px 1px solid hsl(145, 98%, 18%);
    margin: 50px auto 0 auto;
    width: 100%;
}